---
import Question from "../components/Question.astro";
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";

const { cookies, url } = Astro;
let navMenu: string[] = ["Home", "Leaderboard", "Login"];
let photo: string = "bg-error";

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
    navMenu = ["Home", "Leaderboard", "Logout"];
    photo = "bg-success";
}
---

<Base>
    <Navbar title="BOLT CTF" menu={navMenu} photo={photo} slot="navbar" />
    <div class="flex flex-wrap justify-evenly gap-10 items-center m-4">
        <Question
            id={1}
            title="Sanity Check"
            description="Ohh no! How do I read the flag?"
            link="https://drive.google.com/drive/folders/1oPRp2jv5EtjwZqst24rY8gTV0pged4JA?usp=sharing"
            tags={["easy", "misc", "100 points"]}
        />
        <Question
            id={2}
            title="Decipher"
            description="Our cryptography specialist Mr.Vig is currently unavailable, so help us decode this string. String: THNqZHt3c2xxZ2RfanljeH0="
            link=""
            tags={["easy", "crypto", "150 points"]}
        />
        <Question
            id={3}
            title="Email Theft"
            description="Marcus Got a Mysterious mail promising flag for Bolt CTF, if he could crack the password to the file."
            link="https://drive.google.com/drive/folders/1ODx4VyO4ojRtHxQq_U3geamBINNujcSJ?usp=sharing"
            tags={["med", "osint", "350 points"]}
        />
        <Question
            id={4}
            title="Stegooo"
            description="Could you please assist our security researchers with solving the steganography within a blank document for forensic, OSINT, and miscellaneous tasks?"
            link="https://drive.google.com/drive/folders/1LBFZezKjXELGFzvTtaqr77kC29-gobKm?usp=sharing"
            tags={["easy", "forensics", "200 points"]}
        />
        <Question
            id={5}
            title="CrackIt"
            description="Can anyone help decipher this mysterious message left on a terminal with a post-it nearby? It seems to be a key to unraveling a larger puzzle, potentially related to recent break-ins on campus. With exams looming, the pressure is on to crack it. Any takers?  String: lmq_chc_ur_mpq_jnbgvx"
            link="https://drive.google.com/drive/folders/1EF-A2YCe_RP0jWkqkjQmfrDSMSTt8CMw?usp=sharing"
            tags={["easy", "crypto", "150 points"]}
        />
        <Question
            id={6}
            title="Et tu, Brute?"
            description="Several Bolt members attempted to escape for a camping trip, only to have their headphones unexpectedly emit a strange sound upon leaving campus. A recording of this incident was obtained—anyone up for helping decipher it to uncover its significance?"
            link="https://drive.google.com/drive/folders/1ANABjA08wfp6gNRMYdmbbtIchOg42cnr?usp=sharing"
            tags={["easy", "forensics", "200 points"]}
        />
        <Question
            id={7}
            title="fac!"
            description="In the context of number theory and cryptography, prime factorization plays a pivotal role. I have a CTF challenge in which participants are tasked with analyzing a file named challenge.txt, which contains a single large number.  Num: 2174096211032823084932239036566496093206280423.  The objective is to leverage computational techniques and algorithms to decompose this number into its prime factors."
            link=""
            tags={["easy", "crypto", "100 points"]}
        />
        <Question
            id={8}
            title="Blind"
            description="Can't read please help"
            link="https://drive.google.com/drive/folders/1QSdMhqv0mFvJple6p64UARKYXYziMG7v?usp=sharing"
            tags={["easy", "crytpo", "100 points"]}
        />
        <Question
            id={9}
            title="Meow Meow"
            description="My pussy cat is missing. Can you find her? Last seen saying meowing meowing in the blanket!!"
            link="https://drive.google.com/drive/folders/11pQ-DqrJZMZU7XuuxqL3Y5UMejaWeRjA?usp=sharing"
            tags={["med", "forensics", "350 points"]}
        />
        <Question
            id={10}
            title="Root Toor"
            description="Can you crack the admin password from the downloadable file?"
            link="https://drive.google.com/drive/folders/1xRZmy5hkZbeij7N9-r3gdXWumKcbonsB?usp=sharing"
            tags={["hard", "networking", "500 points"]}
        />
        <Question
            id={11}
            title="Bruteforce"
            description="Mr TEE has forgotten the passcode to his phone, he has some information about the system configuration, can you figure it out?"
            link="https://drive.google.com/drive/folders/1i1lZj26k5zDsOsGnhX6yuOeKcjSWOPyJ?usp=sharing"
            tags={["hard", "cracking", "500 points"]}
        />
    </div>
</Base>
