---
import Question from "../components/Question.astro";
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
---

<!-- 
    1. flex or grid
 -->
<Base>
    <Navbar
        title="BOLT CTF"
        menu={["Home", "Leaderboard", "Login"]}
        photo="bg-error"
        slot="navbar"
    />
    <div class="flex flex-wrap justify-evenly gap-10 items-center m-4">
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
        <Question
            title="challenge 1"
            description="this is an osint challenge"
            link="falana"
            tags={["easy", "hard"]}
        />
    </div>
</Base>
