<div class="overflow-x-auto mt-24">
    <table class="table text-center">
        <!-- head -->
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <slot />
        </tbody>
    </table>
</div>
